.select {
	margin: 0 20px;
	padding: 10px;

	color: var(--white);
	border: 1px solid var(--primary);
	border-radius: 5px;
	outline: var(--primary) solid;
	background-color: var(--dark);

	font-weight: 700;
}
