.footer {
	display: flex;

	padding: 40px;

	text-align: left;

	background-color: var(--dark);
}

.footer__text_warning {
	text-decoration: underline;
	text-transform: uppercase;

	color: var(--primary);
}
