.button {
  padding: 15px 25px;
  border: none;
  background-color: var(--primary);
  color: white;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.button:hover {
  box-shadow: 0 0 20px 10px rgba(255, 100, 80, 0.1);
}
