.card {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 385px;
	height: 230px;
	margin: 20px;
	padding: 30px;

	transition: 0.2s ease-out;

	border-radius: 32px;
	box-shadow: 0 4px 200px rgb(0 0 0 / 25%);
}

.card:hover {
	transform: scale(1.05);
}

.card_white-card {
	background: linear-gradient(126.23deg, #FFF 17.55%, #EFEFEF 66.54%);
}

.card_black-card {
	background: linear-gradient(126.23deg, #222325 17.55%, #2B2E38 66.54%);
}

.card_e-aid-card {
	background: linear-gradient(126.23deg, #ACEEC1 17.55%, #7DB4E3 82.28%);
}

.card__logo {
	text-align: left;
}

.card__card-num p {
	margin-top: 25px;

	letter-spacing: 0.1em;

	font-family: Courier, monospace;
	font-size: 22px;
	font-weight: 400;
	font-style: normal;
	line-height: 30px;
}

.card__card-num_white-card p,
.card__card-num_e-aid-card p {
	color: var(--black);
}

.card__card-num_black-card p {
	color: var(--white);
}

.card__card-balance {
	text-align: right;
}

.card__card-balance p {
	margin-top: 25px;

	font-size: 25px;
	font-weight: 700;
	font-style: normal;
}

.card__card-balance_white-card p,
.card__card-balance_e-aid-card p {
	color: var(--black);
}

.card__card-balance_black-card p {
	color: var(--white);
}

@media (max-width: 505px) {
	.card {
		width: 320px;
		height: 180px;
		padding: 20px;
	}

	.card__card-num p,
	.card__card-balance p {
		margin-top: 15px;

		font-size: 15px;
	}

	.card__logo img {
		width: 90px;
		height: 25px;
	}
}

@media (max-width: 425px) {
	.card {
		width: 230px;
		height: 140px;
		margin: 10px;
	}

	.card__card-num p,
	.card__card-balance p {
		margin-top: 15px;

		font-size: 13px;
	}

	.card__logo img {
		width: 70px;
		height: 20px;
	}
}
