.payments__payments-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.payments__payments-list__income,
.payments__payments-list__spending {
  width: 50%;
  margin: 0 20px;
}

.payments__payments-list__title {
  margin: 20px 0;
}

.payments__top {
  justify-content: space-between;
  padding: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}

.payments__top select {
  margin: 0 20px;
  background-color: var(--dark);
  color: var(--white);
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  border: 1px solid var(--primary);
  outline: var(--primary) solid;
}
