.diagram {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.diagram__top {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	padding: 40px;
}

.diagram__doughnut {
	width: 60%;
}
