.payment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.payment__info__description h1,
.payment__sum__amount p {
  font-size: 20px;
  font-weight: 700;
}

.payment__info__category p,
.payment__sum__operationAmount p {
  font-size: 14px;
}

.payment__info__category p {
  text-align: left;
}

.payment__sum__operationAmount p {
  text-align: right;
}

.payment__sum_spend {
  color: var(--black);
}

.payment__sum_income {
  color: var(--succes);
}
